.routedchat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Chatbodycontainer {
  flex: 0.8;

  height: 100vh;
}
.bodyheader {
  display: flex;
  padding-top: 10px;

  padding-bottom: 7px;

  align-items: center;
  border-bottom: 2px solid rgba(252, 248, 248, 0.89);
}
.bodyheaderleft {
  flex: 0.75;
  display: flex;
  align-items: center;
  
  /* background-color: aqua; */
  padding-left: 8px;
  padding-right: 8px;
}
.bodyheaderleft > p {
  flex: 0.6;
  text-transform: capitalize;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}

.bodymid{
  /* background-color: wheat; */
  flex:0.3;
  font-weight: 600;
  /* font-size: 2.4vw; */

}
.bodyheaderright {
  flex: 0.25;
  display: flex;
  align-items: center;

  justify-content: space-around;
}

.chatscreen {
  background-color: whitesmoke;
  height: 78vh;
  overflow-y: scroll;
}
.chattype {
  background-color: white;
  border-left: 2px solid rgba(252, 248, 248, 0.89);
  height: 9.8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emojie {
  flex: 0.05;

  /* background-color: yellow; */
  padding-left: 10px;
  padding-right: 10px;
}

.emoji {
  font-size: 30px !important;
}

.inputtext {
  flex: 0.85;

  /* background-color: yellow; */
  border: 2px solid black;
  border-radius: 2rem;
  padding: 6px;
}
.inputtext > input {
  border: 0px;
  width: 90%;
  padding: 4px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}

.inputmic{

flex:0.08;
padding-left: 10px;
padding-right: 10px;
  /* font-size: 30px !important; */
}

/* .showmsg{
display: flex;
align-items: center;
justify-content: flex-start;

} */
.msgl{
 display: flex;
justify-content:flex-start;
 padding-left:3vw;
 
}


.msgr{
  display: flex;
 justify-content:flex-end;
  padding-right:3vw;
  border-radius: 5px ;
 
 
}

.msgtext{
  background-color:#4FCE5D;
  padding: 10px;
  border-radius: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}

small{
  padding-left: 10px;
  /* font-weight: 400 ; */
}